body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family:'Times New Roman', Times,serif;
  }
  
  .container {
    text-align: center;
    color: red;
    background-color: aquamarine;
    text-align: left;
    padding: 20px;
  }
  
  #result {
    margin-top: 20px;
    line-height: 2.5;
    text-align: left;
    color: green;
    font-weight: bold;
  }
  
